.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

.is-active {
    background-color: rgb(77, 173, 77);
}

.nearMass {
    font-style: italic;
    font-weight: bold;
    color: red;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */


/* Add the 'nearMaxMass' class style here: */
